#book-select-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 40px;
}

#lb-book-select{
    margin-right: 5px;
}

#book-select{
    padding: 5px;
    border-radius: 10px;
}