<footer id="footer-container">
  <div id="footer-content">
    <h6 id="footer-title">{{ footerLogo }}</h6>
    <div id="footer-about">
      <p id="footer-about-description">
        Este projeto foi desenvolvido no Bootcamp Santander Fullstack Developer
        pela Digital Innovation One no módulo Angular, ele consiste em simular o
        frontend de um e-commerce utilizando as melhores práticas de
        desenvolvimento do framework.
      </p>
    </div>
    <div class="footer-contact">
      <p id="developmented-by">Desenvolvido por Augusto Cesar</p>
      <ul id="footer-contact-list">
        <li class="footer-contact-item">
          <a href="https://github.com/augustocesarsousa" target="_blank">
            <img
              src="assets/images/github.svg"
              alt="Github logo"
              class="footer-contact-item-img"
            />
          </a>
        </li>
        <li class="footer-contact-item">
          <a href="https://www.linkedin.com/in/augustocsousa/" target="_blank">
            <img
              src="assets/images/linkedin.svg"
              alt="Linkedin logo"
              class="footer-contact-item-img"
            />
          </a>
        </li>
        <li class="footer-contact-item">
          <a href="mailto:acs-03@hotmail.com" target="_blank">
            <img
              src="assets/images/mail.svg"
              alt=""
              class="footer-contact-item-img"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
