<footer id="footer-container">
    <div id="footer-about" class="footer-content">
        <h6 id="footer-about-title">Sobre o projeto</h6>
        <p id="footer-about-description">Este projeto foi desenvolvido no Bootcamp Santander Web Developer, no módulo Angular, ele consiste em simular o frontend de um e-commerce utilizando as melhores pŕaticas de desenvolvimento do framework.</p>
    </div>
    <div class="footer-contact"  class="footer-content">
        <h6 id="footer-contant-title">Contatos</h6>
        <ul id="footer-contact-list">
            <li class="footer-contact-item">
                <a href="">
                    <img src="assets/images/github.svg" alt="">
                </a>
            </li>
            <li class="footer-contact-item">
                <a href="">
                    <img src="assets/images/linkedin.svg" alt="">
                </a>
            </li>
            <li class="footer-contact-item">
                <a href="">
                    <img src="assets/images/email.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</footer>