<div id="home-container">
  <section id="sidebar-content">
    <div id="find-by-price-content">
      <app-filter-by-price></app-filter-by-price>
    </div>
    <div id="find-by-category-content">
      <app-filter-by-category></app-filter-by-category>
    </div>
    <span id="btn-sidebar-content">
      <input type="checkbox" name="btn-sidebar" id="btn-sidebar" />
      <label for="btn-sidebar"><fa-icon [icon]="faArrowRight"></fa-icon></label>
    </span>
  </section>
  <section id="book-list-content" class="row">
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <app-book-card></app-book-card>
    </div>
  </section>
</div>
