<div *ngIf="images && images.length > 0" class="carousel-container">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image.imageSrc"
    [alt]="image.imageAlt"
    [ngClass]="{ 'image-active': selecttedIndex === i }"
  />
  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selecttedIndex === i }"
      (click)="selectedImage(i)"
    >
    </span>
  </div>
  <button
    *ngIf="controls"
    class="btn-carousel btn-prev"
    (click)="onPrevCLick()"
  >
    <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
  </button>
  <button
    *ngIf="controls"
    class="btn-carousel btn-next"
    (click)="onNextCLick()"
  >
    <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
  </button>
</div>
