#filter-by-price-title{
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.checkbox-group{
  margin-bottom: 5px;
}

.checkbox-group input{
  margin-right: 5px;
}
