<section id="filter-by-price-container">
  <p id="filter-by-price-title">preço</p>
  <div class="checkbox-group">
    <input type="checkbox" name="chk-50" id="chk-50">
    <label for="chk-50">Até R$50</label>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" name="chk-100" id="chk-100">
    <label for="chk-100">R$50 a R$100</label>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" name="chk-150" id="chk-150">
    <label for="chk-150">R$100 a R$150</label>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" name="chk-200" id="chk-200">
    <label for="chk-200">R$150 a R$200</label>
  </div>
  <div class="checkbox-group">
    <input type="checkbox" name="chk-200-more" id="chk-200-more">
    <label for="chk-200-more">Mais que R$200</label>
  </div>
</section>
